<ion-menu [content]="content">
  <ion-header>
    <div header-background-image padding [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
      <ion-thumbnail>
        <img *ngIf="isLogged == false" src="{{data.image}}">
        <img *ngIf="isLogged == true" src="{{data.image}}" class="logged">
      </ion-thumbnail>
      <h2 ion-text header-title>{{data.title}}</h2>
      <p>{{data.description}}</p>
    </div>
  </ion-header>

  <ion-content class="masters">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon ios="ios-{{p.icon}}" md="md-{{p.icon}}"></ion-icon>{{p.title}}
      </button>

      <button ion-button clear *ngIf="isLogged == true" (click)="profileSettings()">
        <ion-icon name="cog">Settings</ion-icon>
      </button>

      <button ion-button item-end float-right clear *ngIf="isLogged == true" (click)="logout()">
        <ion-icon name="exit">Logout</ion-icon>
      </button>
      <button ion-button item-end float-right clear *ngIf="isLogged == false" (click)="login()">
        <ion-icon name="exit">Login</ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>