<ion-header>
    <ion-navbar transparent>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <!--<ion-title *ngIf="data != null">{{data.headerTitle}}</ion-title>-->
    </ion-navbar>
</ion-header>

<!--Content -->
<ion-content padding>
  <div id="elastic-header"><div #map id="map"></div></div>
  
 <ion-list>
    <ion-item>
      <h6>Event Name</h6>
      {{event.eventName}}
    </ion-item>

    <ion-item>
      <h6>Description</h6>
      {{event.description}}
    </ion-item>

    <ion-item>
      <h6>Date</h6>
      {{event.date | date:'yyyy MMM dd H:mm'}}
    </ion-item>
  </ion-list>
  

  <!-- Buttons -->
  <button ion-button clear block (click)="groupChatBtn()">Group Message</button>

  <button ion-button clear block (click)="viewParticipants()">Participants</button>

  <button ion-button block *ngIf="isAdmin" (click)="editEventBtn()">Edit Event</button>
  <button ion-button block (click)="leaveEventBtn()">Leave Event</button>
</ion-content>
