<ion-header header-ios>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-title *ngIf="data != null">{{data.toolbarTitle}}</ion-title>-->
  </ion-navbar>

  <!-- Search bar -->
  <ion-toolbar no-padding>
    <div background-size *ngIf="data != null" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      <div search-bar-bcg>
        <!-- Header Title -->
        <h1 ion-text no-margin padding-left search-bar-title>{{data.title}}</h1>
        <!--<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search(searchTerm)"></ion-searchbar>-->
        <ion-searchbar [(ngModel)]="email" (ionInput)="submitEmail()"></ion-searchbar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--<ion-list>
    <ion-item>
      <ion-label floating>Enter the email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
  </ion-list>
  <span (click)="scanQR()">OR Scan their QR Code</span>
  <button ion-button (click)="submitEmail()">Submit</button>-->
  <ion-grid no-padding>
    <ion-row>
      <!-- List Search-->
      <ion-col col-12 *ngIf="users != null">
        <!-- Content List -->
        <ion-list no-margin>
          <!--<ion-item border no-lines *ngFor="let u of users;">
            <div gradient item-start>
              <img images-filter [src]="u.avatar">
            </div>
            <h2 ion-text item-title text-wrap>{{u.username}}</h2>
            <p ion-text item-subtitle text-wrap>{{u.firstName}} {{u.lastName}}</p>
            <ion-note item-end>u.email</ion-note>
          </ion-item>-->
          <ion-item border no-lines>
              <div gradient item-start>
                <img images-filter src="assets/images/background/1.jpg">
              </div>
              <h2 ion-text item-title text-wrap>Username</h2>
              <p ion-text item-subtitle text-wrap>First Last</p>
              <ion-note item-end>email@email.com</ion-note>
            </ion-item>
            <ion-item border no-lines>
                <div gradient item-start>
                  <img images-filter src="assets/images/background/2.jpg">
                </div>
                <h2 ion-text item-title text-wrap>First Last</h2>
                <p ion-text item-subtitle text-wrap>Username</p>
                <ion-note item-end>email@email.com</ion-note>
              </ion-item>
              <ion-item border no-lines>
                  <div gradient item-start>
                    <img images-filter src="assets/images/background/3.jpg">
                  </div>
                  <h2 ion-text item-title text-wrap>First Last</h2>
                  <p ion-text item-subtitle text-wrap>email@email.com</p>
                  <ion-note item-end>Username</ion-note>
                </ion-item>
                <ion-item border no-lines>
                    <div gradient item-start>
                      <img images-filter src="assets/images/background/4.jpg">
                    </div>
                    <h2 ion-text item-title text-wrap>Username</h2>
                    <p ion-text item-subtitle text-wrap>email@email.com</p>
                    <ion-note item-end>[ Add ]</ion-note>
                  </ion-item>
                  <ion-item border no-lines>
                      <div gradient item-start>
                        <img images-filter src="assets/images/background/5.jpg">
                      </div>
                      <h2 ion-text item-title text-wrap>Username</h2>
                      <p ion-text item-subtitle text-wrap>First Last</p>
                      <ion-note item-end>[ Add ]</ion-note>
                    </ion-item>
                    <ion-item border no-lines>
                        <div gradient item-start>
                          <img images-filter src="assets/images/background/6.jpg">
                        </div>
                        <h2 ion-text item-title text-wrap>First Last</h2>
                        <p ion-text item-subtitle text-wrap>email@email.com</p>
                        <ion-note item-end>[ Add ]</ion-note>
                      </ion-item>
        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Bottom Button -->
<ion-footer transparent no-padding>
  <button no-padding no-margin ion-button block (click)="scanQR()">{{data.qr}}</button>
</ion-footer>
